body {
    margin: 0;
    padding: 0;
    background: #eeeeee;
}

#lazy {
    position: absolute;
    top: 50px;
    left: 25%;
    padding-top: 30px;
    z-index: -1;
    width: 75%;
}

.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9 {
    padding: 0 0 0 0;
}

#menu {
    position: fixed;
}

.btn-success {
    width: 100%;
}

.panel-footer {
    height: 100%;
}

.colorized {
    color: #a55;
}

.navbar-static-top {
    z-index: -1;
    background-color: #2e6196;
}

.navbar-default .navbar-brand {
    margin-left: 10%;
    color: #FFFFFF;
}

.row {
    margin: 0 0;
}

.btn-info {
    margin-bottom: 30px;
}

