body {
    color:#000;
    background-color: #eee;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    padding-top: 70px;
    min-height: 100%;
    position: relative;
    -webkit-text-size-adjust: none;
}
nav.navbar-default{
    background-color: #2e6196; 

}

@media(max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #BDBDBD;
    }
}
.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #BDBDBD;
    cursor: pointer;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #BDBDBD;
}

.navbar-default .navbar-toggle{
    border-color: #2e6196;
    background-color:#2e6196;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus{
    border-color: #2e6196;
    background-color:#fff;
}


.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover .icon-bar, 
.navbar-default .navbar-toggle:focus .icon-bar{
    background-color: #000;
}
.content
{
    padding: 150px 20px 0px 20px;
    text-align: center;
}

.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    padding: 0 0 0 0;
}


.center-block{
    text-align: center;
}

.pagination{
    float:inherit;
}

.btn-success, .btn-info{
    width: 100%;
    font-weight: bold;
    /*text-shadow: 0 0px 5px #222222;*/
    background-color: #ACACAC;
    border-color: #ACACAC;
    color: #428bca;

    text-decoration: none;
}
.btn-success:hover{
    background-color: #999999;
    color: #2e6196;
    border-color: #ACACAC;
}
.btn-info{
    font-size: 17px;
}

.panel-heading{
    font-size: 18px;
    text-shadow: 0 2px 2px #222222;
}

.panel-body{
    background: #fff;
    color:#000;
}

.panel-footer {
    height: 100%;
    background: #F3F3F3;
    text-align: center;
}

.colorized {
    color: #001B86;
}

.row {
    margin: 0 0;
}

.btn-info {
    margin-bottom: 30px;
}

 /*table zastepstwa*/

.plan{
    overflow-y: auto;
    width: 80%;
    white-space:nowrap;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}

td,th {
    border: 1px solid #9C9C9C;
    padding: 4px;
}


@media screen and (max-width: 800px) {
	table {
		overflow-x: auto;
		display: block; 
	}
}

